---
import { ResponsiveHeadline } from "~components/ResponsiveHeadline";
import { Button } from "../../Button/Button";
import type { TypeCourseSkeleton } from "../../../types/contentful";

import { format } from "date-fns";

import * as style from "./MiniCard.css";
import { contentfulClient } from "~lib/contentful";
import { CourseInfo } from "../CourseInfo";

// const todayUTC = new Date();
// const utcDateString = todayUTC.toISOString();

const {
  title,
  course,
  amenities,
  price,
  players,
  date,
  isCoursePage,
  courseWebsite,
  label,
  slug,
} = Astro.props;

const validDate = date && !isNaN(Date.parse(date)) ? new Date(date) : null;
---

<div class={style.miniCardWrapper}>
  <ResponsiveHeadline className={style.miniCardTitle} size={1} as="h2"
    >{title}</ResponsiveHeadline
  >
  <div class={style.miniCard}>
    <ResponsiveHeadline className={style.miniCardCourse} size={1} as="h3">
      {course}
    </ResponsiveHeadline>
    <div class={style.dateTimeWrapper}>
      {
        validDate ? (
          <>
            <span>{format(date, "E M/d/yy")}</span>@
            <span>{format(date, "h:mmaaa")}</span>
          </>
        ) : (
          <span>Date not available</span>
        )
      }
    </div>

    <CourseInfo
      client:load
      amenities={amenities}
      price={price}
      players={players}
      isMiniCard
    />
    <Button
      variant="outlined"
      color="secondary"
      as="a"
      size="small"
      rel={isCoursePage ? "noopener noreferrer" : ""}
      target={isCoursePage ? "_blank" : "_self"}
      href={isCoursePage
        ? courseWebsite
        : `/tournaments/${format(new Date(date as string), "yyyy")}/${slug}`}
    >
      {label}
    </Button>
  </div>
</div>
