---
import { format } from 'date-fns'

import { ResponsiveHeadline } from '~components/ResponsiveHeadline'
import { Button } from '../../Button/Button'
import { CourseDetails } from '../CourseDetails'
import { CourseInclusions } from '../CourseInclusions'

import * as styles from './MiniCard.css'

const {
  title,
  course,
  prices,
  players,
  date,
  isCoursePage,
  courseWebsite,
  label,
  slug,
  results,
  inclusions,
} = Astro.props

const validDate = date && !isNaN(Date.parse(date)) ? new Date(date) : null
---

<div class={styles.miniCardWrapper}>
  <ResponsiveHeadline className={styles.miniCardTitle} size={1} as="h2">{title}</ResponsiveHeadline>
  <div class={styles.miniCard}>
    <ResponsiveHeadline className={styles.miniCardCourse} size={1} as="h3">
      {course}
    </ResponsiveHeadline>
    <div class={styles.dateTimeWrapper}>
      {
        validDate ? (
          <>
            <span>{format(date, 'E M/d/yy')}</span>@<span>{format(date, 'h:mmaaa')}</span>
          </>
        ) : (
          <span>Date not available</span>
        )
      }
    </div>
    {
      (prices || players) && (
        <CourseDetails client:load prices={prices} players={players} isMiniCard />
      )
    }
    {
      isCoursePage && inclusions && inclusions.length > 0 && (
        <CourseInclusions client:load tournament={{ inclusions: inclusions }} isMiniCard />
      )
    }
    {
      results && typeof results === 'object' && results?.fields?.file?.url ? (
        <Button
          as="a"
          variant="outlined"
          color="secondary"
          size="small"
          target="_blank"
          rel="noopener noreferrer"
          href={results.fields.file.url}
        >
          Results
        </Button>
      ) : (
        <Button
          variant="outlined"
          color="secondary"
          as="a"
          size="small"
          rel={isCoursePage ? 'noopener noreferrer' : ''}
          target={isCoursePage ? '_blank' : '_self'}
          href={
            isCoursePage
              ? courseWebsite
              : `/tournaments/${format(new Date(date as string), 'yyyy')}/${slug}`
          }
        >
          {label}
        </Button>
      )
    }
  </div>
</div>
