---
import { ResponsiveHeadline } from "~components/ResponsiveHeadline";
import { Button } from "../../Button/Button";
import type { TypeCourseSkeleton } from "../../../types/contentful";

import { format } from "date-fns";

import * as style from "./MiniCard.css";
import { contentfulClient } from "~lib/contentful";
import { CourseInfo } from "../CourseInfo";

const todayUTC = new Date();
const utcDateString = todayUTC.toISOString();

const {
  title,
  isCoursePage,
  label,
  course,
  amenities,
  courseWebsite,
  results,
  tournaments,
  price,
  players,
} = Astro.props;
---

<div class={style.miniCardWrapper}>
  <ResponsiveHeadline className={style.miniCardTitle} size={1} as="h2"
    >{title}</ResponsiveHeadline
  >
  <div class={style.miniCard}>
    <ResponsiveHeadline className={style.miniCardCourse} size={1} as="h3">
      {course}
    </ResponsiveHeadline>
  </div>
  <CourseInfo
    client:load
    amenities={amenities}
    price={price}
    players={players}
  />
</div>
