---
import Layout from "../../layouts/Layout.astro";
import { contentfulClient } from "../../lib/contentful";
import {CourseCard}  from "../../components/Course/CourseCard";
import type { TypeCourseSkeleton } from "../../types/contentful";

const entries = await contentfulClient.getEntries<TypeCourseSkeleton>({
  content_type: "course",
  order: ["fields.date"],
  "fields.date[gte]": "2024-09-01T00:00:00Z",
  limit: 12,
});

---

<Layout>
  {
    entries.items.map((item) => (
      <CourseCard date={item.fields.date} price={item.fields.price} />
      <section>
        <h2>{item.fields.courseName}</h2>
        <p>{item.fields.date}</p>
      </section>
    ))
  }
</Layout>
