---
import defaultBackgroundImage from '../../assets/admiral-baker-south-bg.jpg';

import { ResponsiveHeadline } from '~components/ResponsiveHeadline';

import * as styles from './Hero.css';

const { course, courseImage } = Astro.props;
---

<section class={styles.heroWrapper}>
  <div class={styles.heroColLeft}>
    <ResponsiveHeadline
      className={styles.heroHeadline}
      size={2}
      as="h1"
      color="inverse"
    >
      {course}</ResponsiveHeadline
    >
  </div>
  <div class={styles.heroColRight}>
    <div
      class={styles.heroBackground}
      style={{
        backgroundImage: courseImage
          ? `url('${courseImage}')`
          : `url(${defaultBackgroundImage.src})`,
      }}
    >
    </div>
  </div>
</section>
