---
import Layout from '../../layouts/Layout.astro';
import { contentfulClient } from '../../lib/contentful';
import type { TypeSimplePageSkeleton } from '../../types/contentful';
import { RichText } from '~components/RichText';

import * as style from './HomePage.css';
import { MiniCard } from '~components/Course/MiniCard';

const entries = await contentfulClient.getEntries<TypeSimplePageSkeleton>({
  content_type: 'simplePage',
  'fields.title': 'Home',
});

// if (!courseData.data || courseData.error) {
//   return new Response(404);
// }
---

<Layout>
  <div class={style.homeWrapper}>
    <section class={style.homeHero}>
      <MiniCard title="Upcoming Tournament" label="Details" />
    </section>
    <section class={style.homeColWrapper}>
      {
        entries.items.map((item) => (
          <div class={style.leftCol}>
            {item.fields.content && (
              <RichText richText={item.fields.content} client:load />
            )}
          </div>
        ))
      }
      <div class={style.rightCol}>Leaderboard</div>
    </section>
  </div>
</Layout>
