---
import * as styles from './Table.css';

type Props = {
  thead: string[];
  colSpan?: number;
  tbody: (
    | string
    | (number | undefined)[]
    | ('F' | 'M' | undefined)[]
    | null
  )[][];
  tfoot?: string[];
};

const { thead, tbody, tfoot, colSpan = 0 } = Astro.props;
---

<table class={styles.table}>
  {
    thead && (
      <thead class={styles.thead}>
        <tr>
          {thead.map((header) => (
            <th colspan={colSpan} class={styles.th}>
              {header}
            </th>
          ))}
        </tr>
      </thead>
    )
  }
  <tbody>
    {
      tbody.map((row) => (
        <tr class={styles.tr}>
          {row.map((cell, index) =>
            index === 0 ? (
              <th scope="row" class={styles.th}>
                {cell}
              </th>
            ) : (
              cell !== null && <td class={styles.td}>{cell}</td>
            )
          )}
        </tr>
      ))
    }
    {
      tfoot && (
        <tfoot class={styles.tfoot}>
          <tr>
            {tfoot.map((footer) => (
              <th colspan={colSpan} class={styles.th}>
                {footer}
              </th>
            ))}
          </tr>
        </tfoot>
      )
    }
  </tbody>
</table>
