---
import { Image } from "astro:assets";
import logo from "~/assets/brand-logo.webp";
import xmasLogo from "~/assets/brand-logo-xmas.webp";
import { server } from "~actions";
import { Link } from "~/components/Link/Link";
import { Banner } from "./components/Banner/Banner";
import { MainNav } from "./components/MainNav/MainNav";
import { MobileNav } from "./components/MobileNav/MobileNav";
import * as styles from "./Header.css";
import { menuItems } from "./utils/headerItems";

const banners = await Astro.callAction(server.getHeaderBanners, null);

const { pathname } = Astro.url;

// Show Christmas logo in December
const currentMonth = new Date().getMonth();
const isDecember = currentMonth === 11;
const currentLogo = isDecember ? xmasLogo : logo;
const logoHeight = isDecember ? 50 : 40;
const logoWidth = isDecember ? 29 : 40;
---

<a class={`sr-only ${styles.mainContentJumpLink}`} href="#main-content"> Jump to main content </a>
{banners.data && <Banner banner={banners.data} currentPath={pathname} client:load />}
<header class={styles.headerWrapper}>
	<div class={styles.header}>
		<div class={styles.logoWrapper}>
			<Link
				className={styles.logoLink}
				href="/"
				track={true}
				trackLabel="Logo - Home"
				trackCategory="navigation"
				client:load
				variant="white"
				underline="none"
				size="medium"
			>
				<Image
					src={currentLogo}
					alt="UCSD Casual Golf Club"
					height={logoHeight}
					width={logoWidth}
					aria-hidden="true"
				/>
				UCSD Casual Golf Club
			</Link>
		</div>
		<MainNav items={menuItems} currentPath={pathname} client:idle />
		<MobileNav items={menuItems} currentPath={pathname} client:idle />
	</div>
</header>
