---
import { actions } from 'astro:actions';
import { Image } from 'astro:assets';
import logo from '~/assets/brand-logo.png';
import { MainNav } from './components/MainNav';
import { menuItems } from './utils/headerItems';
import { MobileNav } from './components/MobileNav/MobileNav';
import { Banner } from './components/Banner';

import {
  headerWrapper,
  header,
  logoWrapper,
  logoLink,
  mainContentJumpLink,
} from './Header.css';

const banners = await Astro.callAction(actions.getHeaderBanners, null);

const { pathname } = Astro.url;
---

<a class={`sr-only ${mainContentJumpLink}`} href="#main">Jump to main content</a
>
{
  banners.data && (
    <Banner banner={banners.data} currentPath={pathname} client:load />
  )
}
<header class={headerWrapper}>
  <div class={header}>
    <div class={logoWrapper}>
      <a class={logoLink} href="/">
        <Image src={logo} alt="UCSD Casual Golf Club" height={30} width={30} />
        UCSD Casual Golf Club
      </a>
    </div>
    <MainNav items={menuItems} currentPath={pathname} client:load />
    <MobileNav items={menuItems} currentPath={pathname} client:load />
  </div>
</header>
