---
import { Typography } from "~components/Typography";
import {
  footer,
  footerContent,
  footerList,
  footerListItem,
  footerLink,
  footerCopyright,
} from "./Footer.css";

const currentDate = new Date();
const year = currentDate.getFullYear();
---

<footer class={footer}>
  <div class={footerContent}>
    <nav>
      <ul class={footerList}>
        <li class={footerListItem}>
          <a class={footerLink} href="/tournaments">Tournaments</a>
        </li>

        <li class={footerListItem}>
          <a class={footerLink} href="/roster">Roster</a>
        </li>
        <li class={footerListItem}>
          <a class={footerLink} href="/about">About</a>
        </li>
        <li class={footerListItem}>
          <a class={footerLink} href="#">Seasons</a>
        </li>
        <li class={footerListItem}>
          <a
            class={footerLink}
            href="https://membership.scga.org/start/join/?cid=885"
            target="_blank">Join the Club</a
          >
        </li>
        <li class={footerListItem}>
          <a class={footerLink} href="#">Instagram</a>
        </li>
      </ul>
    </nav>

    <Typography className={footerCopyright}
      >&copy;{year} UCSD Casual Golf Club</Typography
    >
  </div>
</footer>
