---
import {
  footer,
  footerNav,
  footerList,
  footerListItem,
  footerLink,
} from './Footer.css';
---

<footer class={footer}>
  <nav class={footerNav}>
    <ul class={footerList}>
      <li class={footerListItem}>
        <a class={footerLink} href="/tournament-schedule"
          >Tournament Schedule</a>
      </li>

      <li class={footerListItem}>
        <a class={footerLink} href="/roster">Roster</a>
      </li>
      <li class={footerListItem}>
        <a class={footerLink} href="/about">About</a>
      </li>
      <li class={footerListItem}>
        <a class={footerLink} href="#">Past Seasons</a>
      </li>
      <li class={footerListItem}>
        <a
          class={footerLink}
          href="https://membership.scga.org/start/join/?cid=885"
          target="_blank">Join the Club</a
        >
      </li>
      <li class={footerListItem}>
        <a class={footerLink} href="#">Instagram</a>
      </li>
    </ul>
  </nav>
</footer>
