---
import { Typography } from '~components/Typography'

import * as styles from './Footer.css'

const currentDate = new Date()
const year = currentDate.getFullYear()
---

<footer class={styles.footer}>
  <div class={styles.footerContent}>
    <nav>
      <ul class={styles.footerList}>
        <li class={styles.footerListItem}>
          <a class={styles.footerLink} href="/tournaments">Tournaments</a>
        </li>

        <li class={styles.footerListItem}>
          <a class={styles.footerLink} href="/roster">Roster</a>
        </li>
        <li class={styles.footerListItem}>
          <a class={styles.footerLink} href="/about">About</a>
        </li>
        <li class={styles.footerListItem}>
          <a
            class={styles.footerLink}
            href="https://membership.scga.org/start/join/?cid=885"
            target="_blank">Join the Club</a
          >
        </li>
        <li class={styles.footerListItem}>
          <a
            class={styles.footerLink}
            href="https://www.instagram.com/ucsdcasualgolfclub/"
            target="_blank">Instagram</a
          >
        </li>
      </ul>
    </nav>

    <Typography className={styles.footerCopyright}>&copy;{year} UCSD Casual Golf Club</Typography>
  </div>
</footer>
