---
export const prerender = true

import { contentfulClient } from '../../services/contentful/contentful'

import Layout from '../../layouts/Layout.astro'
import type { TypeCourseSkeleton } from '~types/contentful/TypeCourse'
import { MiniCard } from '~components/Course/MiniCard'
import { Map } from '~components/Course/Map'

import { RichText } from '~components/RichText'
import FlightCard from './_components/FlightCard/FlightCard.astro'
import { Hero } from '~components/Hero'

import { CourseInfo } from '~components/Course/CourseInfo'

import * as commonStyles from '~styles/common.css'
import * as styles from './_style/tournament.css'

export async function getStaticPaths() {
  const entries = await contentfulClient.getEntries<TypeCourseSkeleton>({
    content_type: 'course',
    include: 3,
  })

  const pages = entries.items
    .flatMap((item) => {
      return item.fields.tournaments?.map((tournament) => {
        if (tournament && 'fields' in tournament && tournament.fields.date) {
          const year = new Date(tournament.fields.date).getFullYear()

          return {
            params: {
              slugs: `/${year}/${item.fields.slug}`,
            },
            props: {
              ...item.fields,
              address: item.fields.address,
              summary: item.fields.summary,
              courseWebsite: item.fields.courseSite,
              coursePar: item.fields.coursePar,
              courseImage:
                item.fields.courseImage && 'fields' in item.fields.courseImage
                  ? (item.fields.courseImage.fields.file?.url ?? '')
                  : undefined,
              tournaments: [
                {
                  prices: tournament.fields.prices,
                  date: tournament.fields.date ?? 'N/A',
                  players: tournament.fields.players,
                  inclusions: tournament.fields.inclusions ?? [],
                  results: tournament.fields.results ?? [],
                  tees: tournament.fields.tees ?? [],
                  firstFlight:
                    tournament.fields.firstFlight
                      ?.map((player) => {
                        if (player && 'fields' in player) {
                          return {
                            playerName: player.fields.playerName,
                            handicapIndex: player.fields.handicapIndex,
                            guest: player.fields.guest,
                            results: player.fields.results?.map((result) => {
                              if (result && 'fields' in result) {
                                return {
                                  ...result.fields,
                                  index: result.fields.index,
                                  courseHandicap: result.fields.courseHandicap,
                                  gross: result.fields.gross,
                                  net: result.fields.net,
                                  course: result.fields.course,
                                  longDrive: result.fields.longDrive,
                                  putts: result.fields.putts,
                                  closestTo: result.fields.closestTo,
                                }
                              }
                            }),
                          }
                        }
                        return null
                      })
                      .filter(Boolean) ?? [],
                  secondFlight:
                    tournament.fields.secondFlight
                      ?.map((player) => {
                        if (player && 'fields' in player) {
                          return {
                            playerName: player.fields.playerName,
                            handicapIndex: player.fields.handicapIndex,
                            guest: player.fields.guest,
                            results: player.fields.results?.map((result) => {
                              if (result && 'fields' in result) {
                                return {
                                  ...result.fields,
                                  index: result.fields.index,
                                  courseHandicap: result.fields.courseHandicap,
                                  gross: result.fields.gross,
                                  net: result.fields.net,
                                  course: result.fields.course,
                                  longDrive: result.fields.longDrive,
                                  putts: result.fields.putts,
                                  closestTo: result.fields.closestTo,
                                }
                              }
                            }),
                          }
                        }
                        return null
                      })
                      .filter(Boolean) ?? [],
                },
              ],
            },
          }
        }

        return null
      })
    })
    .filter(Boolean)

  return pages
}

const {
  course,
  courseImage,
  summary,
  address,
  coursePar,
  tournaments = [],
  courseWebsite,
} = Astro.props

const tournamentYear = tournaments[0]?.date ? new Date(tournaments[0].date).getFullYear() : 'N/A'

// Combine all players from First Flight and Second Flight for the current tournament
const allFlights = [...(tournaments[0]?.firstFlight || []), ...(tournaments[0]?.secondFlight || [])]

// Calculate the lowest gross score for the current tournament across all players in both flights
const lowestGrossOverall = Math.min(
  ...allFlights
    .flatMap(
      (player) =>
        player?.results
          ?.filter(
            (result) =>
              result?.course && 'fields' in result.course && result.course.fields.course === course
          )
          .map((result) => result?.gross) || []
    )
    .filter((gross) => gross !== undefined && gross !== null)
)
---

<Layout
  title={`${tournamentYear} Tournament at ${course}  | UCSD Casual Golf Club`}
  description={`Explore the ${tournamentYear} tournament at ${course}. View details, results, and more.`}
>
  <Hero course={course} courseImage={courseImage} />
  <section class={commonStyles.subPageWrapper}>
    <div class={styles.tournamentWrapper}>
      <div class={styles.tournamentLeftCol}>
        {address && <Map longitude={address.lon} latitude={address.lat} />}
        {summary !== undefined && <RichText richText={summary} />}
        {
          tournaments[0]?.firstFlight?.length > 0 && (
            <FlightCard
              title="First Flight"
              currentCourse={course}
              lowestGrossOverall={lowestGrossOverall}
              flight={tournaments[0]?.firstFlight?.map((player) => ({
                playerName: player?.playerName,
                handicapIndex: player?.handicapIndex,
                guest: player?.guest ? [player.guest[0]] : undefined,
                results: player?.results?.map((result) => ({
                  index: result?.index,
                  gross: result?.gross,
                  courseHandicap: result?.courseHandicap,
                  net: result?.net,
                  course: result?.course,
                  longDrive: result?.longDrive,
                  putts: result?.putts,
                  closestTo: result?.closestTo,
                })),
              }))}
            />
          )
        }
        {
          tournaments[0]?.secondFlight?.length > 0 && (
            <FlightCard
              title="Second Flight"
              currentCourse={course}
              lowestGrossOverall={lowestGrossOverall}
              flight={tournaments[0]?.secondFlight?.map((player) => ({
                playerName: player?.playerName,
                handicapIndex: player?.handicapIndex,
                guest: player?.guest ? [player.guest[0]] : undefined,
                results: player?.results?.map((result) => ({
                  index: result?.index,
                  gross: result?.gross,
                  courseHandicap: result?.courseHandicap,
                  net: result?.net,
                  course: result?.course,
                  longDrive: result?.longDrive,
                  putts: result?.putts,
                  closestTo: result?.closestTo,
                })),
              }))}
            />
          )
        }
      </div>
      <div class={styles.tournamentRightCol}>
        <MiniCard
          title="Details"
          isCoursePage
          label="Course Website"
          course={course}
          courseWebsite={courseWebsite}
          prices={tournaments[0]?.prices}
          date={tournaments[0]?.date}
          players={tournaments[0]?.players}
          inclusions={tournaments[0]?.inclusions}
          results={tournaments[0]?.results}
        />
        {
          coursePar !== undefined && tournaments[0]?.tees !== undefined && (
            <CourseInfo coursePar={coursePar} tees={tournaments[0]?.tees} />
          )
        }
      </div>
    </div>
  </section>
</Layout>
