---
import Layout from "../../layouts/Layout.astro";
import { contentfulClient } from "../../lib/contentful";
import { CourseCard } from "../../components/Course/CourseCard";
import type { TypeCourseSkeleton } from "../../types/contentful";
import { heroWrapper, subPageWrapper } from "~styles/common.css";
import { ResponsiveHeadline } from "~components/ResponsiveHeadline";

const entries = await contentfulClient.getEntries<TypeCourseSkeleton>({
  content_type: "course",
  limit: 12,
});

const getTournaments = entries.items
  .flatMap((item) => {
    return item.fields.tournaments?.map((tournament) => {
      if (
        tournament &&
        "fields" in tournament &&
        tournament.fields.date &&
        new Date(tournament.fields.date) > new Date("2024-12-05")
      ) {
        return {
          ...item.fields,
          tournaments: [
            {
              price: tournament.fields.price ?? "N/A", // Include price
              date: tournament.fields.date ?? "N/A", // Include date
              players: tournament.fields.players ?? "N/A", // Include players
              amenities: tournament.fields.amenities ?? [], // Include amenities
              results:
                tournament.fields.results &&
                "fields" in tournament.fields.results
                  ? (tournament.fields.results.fields.file?.url ?? null)
                  : null, // Include results media URL
              clubChampionship: tournament.fields.clubChampionship ?? false,
            },
          ],
        };
      }
      return null;
    });
  })
  .filter(Boolean) // Remove null values
  .sort(
    (a, b) =>
      new Date(a?.tournaments?.[0]?.date ?? 0).getTime() -
      new Date(b?.tournaments?.[0]?.date ?? 0).getTime()
  );

const getCurrentYear = new Date().getFullYear();
---

<Layout>
  <section class={heroWrapper}>
    <ResponsiveHeadline size={4} as="h1"
      >{getCurrentYear} Tournaments</ResponsiveHeadline
    >
  </section>
  <div class={subPageWrapper}>
    {
      getTournaments.map((item) => (
        <CourseCard
          client:load
          date={item?.tournaments[0].date}
          clubChampionship={item?.tournaments[0].clubChampionship}
          course={item?.course}
          price={item?.tournaments[0].price}
          players={item?.tournaments[0].players}
          slug={item?.slug}
          amenities={item?.tournaments[0].amenities}
          results={item?.tournaments[0].results}
        />
      ))
    }
  </div>
</Layout>
