---
import "~/styles/globals/global.css";
import "~/styles/globals/reset.css";
import "~/styles/globals/theme.css";

import { CourseCard } from "~components/Course/CourseCard";
import { Hero } from "~components/Hero";

import Layout from "~layouts/Layout.astro";
import { contentfulClient } from "~services/contentful/contentful";
import { contentfulCache } from "~utils/contentfulCache";
import { filterUpcomingTournaments } from "~utils/contentfulTransformers";
import * as styles from "~styles/globals/common.css";
import type { TypeCourseSkeleton } from "~types/contentful/TypeCourse";

const entries = await contentfulCache.cached(
	async () =>
		contentfulClient.getEntries<TypeCourseSkeleton>({
			content_type: "course",
			include: 1,
			limit: 100,
		}),
	{ content_type: "course", page: "tournaments" },
	10 * 60 * 1000, // 10 minutes cache
);

const cutoffDate = new Date("2025-12-05");

const getTournaments = filterUpcomingTournaments(entries.items, cutoffDate).filter(
	(item) =>
		item?.tournaments?.[0]?.date &&
		item?.course &&
		(item?.tournaments?.[0]?.prices || item?.tournaments?.[0]?.players),
);

// Display year should be one ahead of the cutoff date's year
const getCurrentYear = cutoffDate.getFullYear() + 1;
---

<Layout
	title={`${getCurrentYear} Tournaments | UCSD Golf Club San Diego`}
	description={`See all UCSD Casual Golf Club tournaments for ${getCurrentYear}. Find dates, results, and more.`}
>
	<Hero title={`${getCurrentYear} Tournament Schedule`} />
	<div class={styles.subPageWrapper}>
		{
			getTournaments.map((item) => (
				<CourseCard
					client:visible
					date={item?.tournaments[0].date}
					clubChampionship={item?.tournaments[0].clubChampionship}
					course={item?.course}
					type={item?.tournaments[0].type}
					tournamentNotes={item?.tournaments[0].tournamentNotes}
					prices={item?.tournaments[0].prices}
					players={item?.tournaments[0].players}
					slug={item?.slug}
					results={item?.tournaments[0].results}
					inclusions={item?.tournaments[0].inclusions}
					tees={item?.tournaments[0].tees}
				/>
			))
		}
	</div>
</Layout>
