---
import { contentfulClient } from '../../lib/contentful'
import type { TypeCourseSkeleton } from '../../types/contentful'

import Layout from '../../layouts/Layout.astro'
import { CourseCard } from '../../components/Course/CourseCard'
import { Hero } from '~components/Hero'

import * as styles from '~styles/common.css'

const entries = await contentfulClient.getEntries<TypeCourseSkeleton>({
  content_type: 'course',
})

const getTournaments = entries.items
  .flatMap((item) => {
    return item.fields.tournaments?.map((tournament) => {
      if (
        tournament &&
        'fields' in tournament &&
        tournament.fields.date &&
        new Date(tournament.fields.date) > new Date('2024-12-05')
      ) {
        return {
          ...item.fields,
          coursePar: item.fields.coursePar,
          tournaments: [
            {
              prices: tournament.fields.prices,
              date: tournament.fields.date,
              players: tournament.fields.players,
              inclusions: tournament.fields.inclusions,
              tees: tournament.fields.tees,
              results:
                tournament.fields.results && 'fields' in tournament.fields.results
                  ? (tournament.fields.results.fields.file?.url ?? null)
                  : null,
              clubChampionship: tournament.fields.clubChampionship ?? false,
            },
          ],
        }
      }
      return null
    })
  })
  .filter(Boolean)
  .sort(
    (a, b) =>
      new Date(a?.tournaments?.[0]?.date ?? 0).getTime() -
      new Date(b?.tournaments?.[0]?.date ?? 0).getTime()
  )

const getCurrentYear = new Date().getFullYear()
---

<Layout
  title={`${getCurrentYear} Tournaments | UCSD Casual Golf Club`}
  description={`Explore all tournaments happening in ${getCurrentYear}. View details, results, and more.`}
>
  <Hero title={`${getCurrentYear} Tournaments`} />
  <div class={styles.subPageWrapper}>
    {
      getTournaments.map((item) => (
        <CourseCard
          client:load
          date={item?.tournaments[0].date}
          clubChampionship={item?.tournaments[0].clubChampionship}
          course={item?.course}
          prices={item?.tournaments[0].prices}
          players={item?.tournaments[0].players}
          slug={item?.slug}
          results={item?.tournaments[0].results}
          inclusions={item?.tournaments[0].inclusions}
          tees={item?.tournaments[0].tees}
        />
      ))
    }
  </div>
</Layout>
